body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}


header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}


form {
    background-color: white;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}


#resultado {
    max-width: 400px;
    margin: 20px auto;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


#datos-estudiante {
    max-width: 400px;
    margin: 20px auto;
    background-color: #e8f5e9;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

#importancia-imc {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

#importancia-imc h2 {
    color: #4CAF50;
    margin-bottom: 10px;
}

#importancia-imc p {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}